@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-rendering: optimizeLegibility;
    font-size: 100%;
    @apply antialiased;
  }

  body {
    @apply bg-white text-neutral-900 overscroll-none;
  }

  input[type='radio'] {
    @apply absolute inset-0 w-full h-full appearance-none cursor-pointer focus:outline-none;
  }

  input[type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
  }

  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
  }
}

@layer components {
  .no-arrows {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    -moz-appearance: textfield;
  }

  .animate-bubble {
    @apply relative transition duration-500 overflow-hidden;

    span {
      @apply transition duration-500 -translate-x-4;
    }

    &::before {
      content: '';
      @apply absolute w-3 h-3 transition duration-500 transform bg-white rounded-full right-8;
    }

    &:hover,
    &:focus {
      span {
        @apply translate-x-0;
      }

      &::before {
        @apply translate-x-12 scale-50;
      }
    }
  }
}
